<div class="wrapper">
  <kendo-stockchart>
    <kendo-chart-title text="StockChart For Angular Application">
    </kendo-chart-title>
    <kendo-chart-series>
      <kendo-chart-series-item type="candlestick" [data]="seriesData" openField="Open" closeField="Close" lowField="Low" highField="High"
        categoryField="Date">
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-navigator>
      <kendo-chart-navigator-select [from]="from" [to]="to">
      </kendo-chart-navigator-select>
      <kendo-chart-navigator-series>
        <kendo-chart-navigator-series-item type="area" [data]="seriesData" field="Close" categoryField="Date">
        </kendo-chart-navigator-series-item>
      </kendo-chart-navigator-series>
    </kendo-chart-navigator>
  </kendo-stockchart>
</div>
